@charset "utf-8";

.edit_contents {
  width: 500px;
}

.detail_edit_contents {
  width: 1100px;
  height: 510px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  padding: 2% 4% 1% 4%;
  font-size: 30px;
}

.detailedit_list {
  padding-top: 3%;
}

.detailedit_list dt {
  width: 22%;
  margin-left: 20%;
  float: left;
  clear: both;
  font-size: 26px;
}

.detailedit_list dd {
  margin-bottom: 40px;
}

.detailedit_list dd input {
	width: 30%;
}

.detailedit_list dd:last-child {
  margin-bottom: 0;
}

.addcoment_form {
  height: 55px;
}

.detailedit_form {
  height: 40px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.detailedit_form--area {
  height: 40px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  resize: both;
}

.detailedit_btn_group {
padding: 0 26% 0 20%;
}

.detailedit_btn {
  padding: 7px 30px;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 20px;
}
.cancel_btn {
	float: right;
}

.l-category_edit {
	padding-top: 100px;
}



