@charset "utf-8";

h1 {
  float: left;
  padding: 2% 4% 4% 4%;
  font-size: 30px;
}

.detalist_contents {
  width: 900px;
  margin: auto;
}

.detail_list {
  margin: 0 42px;
}

.detail_list li {
border: 4px solid #CCCCCC;
width: 210px;
padding: 17px;
font-size: 20px;
list-style: none;
text-align: center;
}

.detail_list li:first-child {
 border-radius: 50px 50px 0 0;
}

.detail_list li:last-child {
 border-radius: 0 0 50px 50px;
}
.ikitsuke_list {
  float: left;
}

.add_ikitsuke_btn {
  margin: 2% 0 0 52%;  
  font-size: 20px;
  padding:5px 54px;
  border-radius: 6px;
}

.cf:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;

}

.title-area {
	width : 50px;
}

.text-area {
	width : 200px;
	
}

.edit_ikitsuke_btn {
 width: 122px;
}
