@charset "utf-8";


.main_contents {
	text-align: center;
}

.login_contents {
  width: 1100px;
  height: 479px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
	padding-bottom: 4%;
	font-size: 40px;
	line-height: 60px;
}

.login_id_pass li {
	list-style: none;
}

.login_form {
	width: 20%;
	height: 40px;
	margin-bottom: 2%;
	border: 3px solid #fff;
	border-radius: 5px;
}

.login_btn {
	width: 220px;
	padding: 5px 30px;
	font-size: 20px;
	border-radius: 5px;
}
