@charset "utf-8";


.main_contents {
	text-align: center;
}

h1 {
	margin: 7% 0 6% 0;
	font-size: 40px;
	line-height: 60px;
}

.login_id_pass li {
	list-style: none;
}

.login_form {
	width: 20%;
	height: 30px;
	margin-bottom: 2%;
	border-radius: 5px;
}

.login_btn {
	padding: 5px 30px;
	font-size: 20px;
	border-radius: 5px;
}